# Compiled binaries and object files
*.o
*.out
final_shell
mmap_copy
chat_mq
dbus_server
dbus_client
ls_recursive
typing_test

# Temporary files
*~
*.swp

01_Rust_Intro/
02_File_System/
03_Process_IPC/
